{
    "LOG": {
        "console": true,
        "level": "INFO",
        "path": "logs",
        "name": "info.log",
        "clear": false,
        "backup_count": 5
    },
    "DINGDING": {
        "secret": "xxxx",
        "access_token": "xxxxx"
    },
    "ACCOUNTS": {
        "host": "https://api.btcgateway.pro",
        "mark_wss": "wss://www.btcgateway.pro",
        "trade_wss": "wss://api.btcgateway.pro",
        "access_key": "xxxxxx",
        "secret_key": "xxxxxx",
        "is_test": true  # 是否是测试 true是 false不是
    },
    "MARK_SUB": {  # 市场行情监听
        "kline":{
            "period": "1min",  # kline周期
            "max_size": 200  # 获取的k大小
        },
        "depth": {
            "step": "step2",  # 市场深度级别
            "max_size": 100  # 保存深度大小
        },
        "trade": {
            "max_size": 100, # 保存交易数据大小
            "period": "1min"
        }
    },
    "MARKETS": {
        "port":8080,
        "platform": "swap",   # 火币那种合约 jiaoge交割合约 swap永续合约
        "strategy": "BollStrategy",  # 选择那种交易策略
        "symbol": "eth",  # 交割合约小写 永续合约大写
        "mark_symbol": "ETH_CW",  # 交割合约BTC_CW BTC_NW BTC_CQ  永续合约 BTC-USD
        "trade_symbol": "quarter", # 交割合约this_week next_week quarter  永续合约 BTC-USD
        "lever_rate": 20,  # 倍数
        "price_tick": 0.01,  # 价格保留小数位
        "loop_interval": 5,  # 心跳时间
        "price_offset": 0.0003,  # 下单盘偏差
        "order_cancel_time": 30000,  # 挂单取消时间
        "auto_curb":false,  # 自动设置trading_curb 只有limitlongbuy 和 limitshortbuy类型
        "trading_curb": "none",  # 交易类型 long 只做多 short只做空  none多空都做 lock锁定不做交易 sell不能加仓 buy不能减仓 limitlongbuy不能加多 limitshortbuy不能加空
        "long_position_weight_rate": 1,  # 做多仓位倍数
        "short_position_weight_rate": 1,  # 做空仓位倍数
        "long_fixed_position": 0,  # 固定多仓位
        "short_fixed_position": 0  # 固定空仓位
    }
}
